<div class="border min-vh-100">
    <div class="d-flex justify-content-center mb-4">
        <div class="d-flex justify-content-center align-items-center">
            <div class="rounded-circle border border-4 border-primary overflow-hidden mt-4">
                <img src="https://placehold.co/100x100" class="img-fluid" alt="Profile Image" id="sidePicture" width="150" height="150" />
            </div>
        </div>
    </div>
    <aside class="sidebar mt-2">
        <h5 class="text-center" id="sideName"></h5>
        <h6 class="text-center">
            <span id="sideEmail"></span>
        </h6>
        <h6 class="text-center" id="sideRole">
            <span class="badge bg-info"></span>
        </h6>
        <ul class="nav nav-list flex-column mb-5">
            <li class="nav-item">
                <a class="nav-link text-dark active" href="dashboard.html"><i
                        class="bi bi-speedometer text-primary"></i> Dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="orders.html"><i class="bi bi-cart-plus-fill text-primary"></i>
                    Orders</a>
            </li>
            <hr />
            <li class="nav-item">
                <a class="nav-link text-dark" href="profile.html"><i class="bi bi-person-rolodex text-primary"></i>
                    Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="password.html"><i
                        class="bi bi-file-earmark-lock2-fill text-primary"></i> Security</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/logout"><i class="bi bi-box-arrow-right text-primary"></i>
                    Logout</a>
            </li>
        </ul>
    </aside>
</div>