
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Google Books</title>
    <link rel="stylesheet" href="css/journal.min.css" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <style>
      .card-img-top {
        height: 300px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div id="top"></div>

    <main class="container my-4">
      <h2 class="text-center mb-4">Google Books Collection</h2>
      <div class="row" id="googleBooksGrid">
        <!-- Books will load here -->
      </div>
    </main>

    <div id="bottom"></div>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/partials.js"></script>
    <script src="js/google-books.js"></script>

  </body>
</html>
