<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookify :: Read More, Explore More</title>
    <link rel="stylesheet" href="css/journal.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.0/dist/sweetalert2.min.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <style>

    </style>
</head>

<body>
    <div id="top"></div>

    <main role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 mt-lg-0" id="sidebar"></div>
                <div class="col-lg-10">
                    <div class="mt-5">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Update Password</h4>
                            </div>
                            <div class="col-md-4 text-end">
                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <div id="form-error"></div>
                            <form class="row" action="/password" method="post" id="passwordForm">
                                <fieldset>
                                    <div class="col-md-6 mb-3">
                                        <label for="oldPassword" class="form-label h6">Enter Old Password<span
                                                class="text-danger">*</span></label>
                                        <input type="password" name="oldPassword" id="oldPassword" class="form-control" value="" required  autocomplete="off" />
                                        <span id="errorOldPassword" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="newPassword" class="form-label h6">Enter New Password<span
                                                class="text-danger">*</span></label>
                                        <input type="password" name="newPassword" id="newPassword" class="form-control" value="" required  autocomplete="off" />
                                        <span id="errorNewPassword" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="confirmPassword" class="form-label h6">Confirm New Password<span
                                                class="text-danger">*</span></label>
                                        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" value="" required  autocomplete="off"/>
                                        <span id="errorConfirmPassword" class="text-danger"></span>
                                    </div>



                                    <div class="col-md-6 mb-5">
                                        <div class="card-footer text-center">

                                            <button type="submit" class="btn btn-success" id="updatePasswordBtn">Update
                                                Password</a>

                                        </div>
                                    </div>
                                </fieldset>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="bottom"></div>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.0/dist/sweetalert2.min.js"></script>
    <script src="js/partials.js"></script>

    <script src="js/dashboard.js"></script>
</body>

</html>