<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookify :: Read More, Explore More</title>
    <link rel="stylesheet" href="css/journal.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <style>

    </style>
</head>

<body>
    <div id="top"></div>
    <main>
      <div id="place-order"></div>
    </main>
    <div id="bottom"></div>
</body>
<script src="js/bootstrap.bundle.min.js"></script>
<script type="module" src="js/home.js"></script>
<script src="js/partials.js"></script>
<script src="js/place-order.js"></script>
</html>