<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookify :: Read More, Explore More</title>
    <link rel="stylesheet" href="css/journal.min.css" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    
  </head>

  <body>
    <div id="top"></div>

    <main role="main">
      <div class="container">
        <section class="py-5 min-vh-100" id="about">
          <div class="container">
            <div class="row align-items-center">
              
              <div class="col-md-12">
                <h2 class="mb-4 text-center"><span class="text-primary">Order Confirmation</span></h2>
                <p class="lead text-muted text-center">
                    Thank you for your order on Bookify!
                    Your books are being processed and will be delivered soon.
                    We appreciate your purchase.
                    Happy reading!
                </p>
                
                
              </div>
            </div>
          </div>
        </section>
        
</div>

    </main>

    <div id="bottom"></div>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/home.js"></script>
    <script src="js/partials.js"></script>
  </body>
</html>
